@import "tailwindcss";

:root {
 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-monteserrat: var(--font-monteserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}


@font-face {
  font-family: 'JameelNooriNastaleeq';
      src: url('/assets/fonts/JameelNooriNastaleeq-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-monteserrat);
}


/* .banner-image{
  width: 100vw;
  height: 90vh;
  background-image: url('../public/assets/home/banner-image.png') ;
  background-repeat: no-repeat;
  background-size: contain;
} */


.shadow-all {
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 -4px 6px rgba(0, 0, 0, 0.1),
    4px 0 6px rgba(0, 0, 0, 0.1),
    -4px 0 6px rgba(0, 0, 0, 0.1);
}

.primary-button {
  @apply py-4 px-6 bg-[#22CA38] hover:bg-[#22CA38]/[50%] cursor-pointer transition-all delay-100 ease-in-out mt-10 font-semibold text-white rounded-md flex justify-center items-center
}


/* Swiper fade effect fix */
.swiper-slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.swiper-slide.swiper-slide-active {
  opacity: 1 !important;
  z-index: 1;
}

/* Custom Pagination Dots */
.custom-pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #22c55e;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.custom-pagination .swiper-pagination-bullet-active {
  transform: scale(1.4);
  opacity: 1;
  background-color: #15803d;
}


.gradient-bg {
  background: linear-gradient(to right, #22CA38 32%, #FFFFFF 100%);
}


.jameel-font {
  font-family: 'JameelNooriNastaleeq', serif;
}
